<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/font/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        .board {
            margin : 0 auto;
            margin-top: 300px;
            width: 830px;
        }
        a {
            text-decoration: none;
            padding: 2px;
        }
        a:link, a:visited {
            color: black;
        }

        .board .page_btn, .board .add_btn {
            display: inline-block;
            color: #8dcca9;
        }

        table {
            border-collapse : collapse;
        }
        table tr td{
            padding: 3px;
        }
        tr th {
            background-color: #8dcca9;
            color : white;
        }
        tr th:nth-child(1), tr td:nth-child(1){
            width: 65px;
        }
        tr th:nth-child(2), tr td:nth-child(2){
            width: 360px;
        }
        tr th:nth-child(4), tr td:nth-child(4) {
            width:200px;
        }
        tbody tr td:nth-child(2) {
            text-align: left;
        }
        tr td {
            text-align: center;
        }
        tr td:nth-child(5),  tr td:nth-child(6){
            text-align: right;
        }
        .board tr:nth-child(odd) {
            background-color: #EAEAEA;
        }
        tfoot tr td {
            background-color: white;
        }
        tfoot .addColumn {
            text-align: left;
        }
        .add_btn:hover, .page_btn:hover {
            border-bottom: 2px solid #8dcca9;

        }

        tfoot .searchColumn {
            text-align: right;
        }
        tfoot .searchColumn input[name=search] {
            outline: none;

        }

        tfoot .searchColumn input[name=search]:focus {
            border:2px solid #8dcca9;
        }

    </style>
</head>
<body>
    <div class="">
        <table class="board">

            <!-- 칼럼 속성 부분 -->
            <thead width="100%">
                <tr class="col_attr">
                    <th scope="col">글번호</th>
                    <th class="attr_title" scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                    <th scope="col">좋아요</th>
                    <th scope="col">조회수</th>
                </tr>
            </thead>
            <!-- // 칼럼 속성 부분  끝-->
            <tbody>
                <% boards.forEach(function(board) {%>
                    <tr>
                        <td><%=board.BOARD_NO%></td>
                        <td><%=board.TITLE_NM%></td>
                        <td><%=board.USER_CD%></td>
                        <td><%=board.DATE_DT%></td>
                        <td><%=board.LIKE_CNT%></td>
                        <td><%=board.HIT_CNT%></td>
                    </tr>
                <%})%>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="addColumn">
                        <a class="add_btn" href="/add">글쓰기 </a>
                    </td>
                    <td colspan="3" class="searchColumn">
                        <label for="search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </label>
                        <input type="text" id="search" name="search" value="" placeholder="Enter"/>
                    </td>
                </tr>

                <tr>
                    <td colspan="6">
                        <a class="page_btn" href="#"><< </a>
                        <a class="page_btn" href="#">< </a>
                        <a class="page_btn" href="#">1</a>
                        <a class="page_btn" href="#">2</a>
                        <a class="page_btn" href="#">3</a>
                        <a class="page_btn" href="#">4</a>
                        <a class="page_btn" href="#"> ></a>
                        <a class="page_btn" href="#"> >></a>
                    </td>
                </tr>
            </tfoot>
        </table>


    </div>

</body>
</html>
