<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/font/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        * {
            box-sizing: border-box;
        }
        p {
            margin-top: 0;
            margin-bottom: 8px;
        }
        a {
            text-decoration: none;
            padding: 2px;
            border: 1px solid #8DB6A9;
        }
        a:link, a:visited {
            color: black;
        }
        .board_add {
            margin : 0 auto;
            margin-top: 50px;
            padding : 50px;
            max-width: 830px;
            min-width: 530px;
            /*background-color: #8dcca9;*/
            border-radius: 10px;
        }
        .numberBox, .submary, .commentCountBox, .viewCountBox, .commentContent {
            display: inline-block;
            padding: 1px;
        }
        .commentBox .commentContent, .re-commentBox .commentContent{
            width: 100%;
            border : 2px solid #EAEAEA;
            outline: 0px;
            background-color: #8dcca9;
            border-radius: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .commentBox .comment:focus, .re-commentBox .comment:focus {
            border: solid 2px #8DB6A9;
        }
        .commentList .none_comment{
            text-align: center;
            padding: 5px;
        }
        .commentText {
            padding-bottom: 5px;
        }
        .commentView {
            padding-top: 5px;
        }
        .commentSummary {
            /*float: left;*/
            font-size: 0.9rem;
        }
        .commentContent {
            padding: 6px;
        }
        /*.commentBox .comment{
            padding-top: 10px:
        }*/
        .submary, .likeBox{
            clear:both;
            float:right;
        }
        .titleBox, .authorBox, .contentBox {
            clear:both;
            padding-bottom: 10px;
        }
        .titleBox label, .authorBox label, .contentBox label {
            /*display: block;*/
        }
        .titleBox input, .authorBox input {
            height: 2rem;
        }
        .titleBox input, .authorBox input, .contentBox textarea {
            border : 1px solid #EAEAEA;
            outline: 0px;
            background-color: #8dcca9;
            border-radius: 10px;
            width: 100%;

        }
        .likeBox .likeCount {
            display: inline-block;
            font-size: 2rem;
            text-align: center;
            width: 80px;
        }

        .titleBox input:focus, .authorBox input:focus, .contentBox textarea:focus {
            border: solid 3px #8DB6A9;
        }
        .contentBox textarea {
            padding-left: 10px;
            padding-right: 10px;
        }
        .submit_btn {
            /*appearance : none;*/
            border : 0;
            border-radius: 5px;
            width: 100%;
            height: 2rem;
            cursor : pointer;
        }
        .submit_btn:hover {
            color : #4948FF;
        }

        #like_btn {
            cursor: pointer;
            /*color: rgb(88, 144, 255);*/
            /*클릭 되었을때 위의 컬러로 적용*/
            padding: 10px;

        }

        .commentInfo {
            text-align: right;
            padding: 3px;
        }
        .commentInfo input[type="text"] {
            padding: 3px;
        }

    </style>
</head>
<body>
    <div class="">
        <div class="board_add">
            <div class="board_header">
                <!-- 번호 -->
                <div class="numberBox">
                    <span class="boardNumber"><%=board.FOMAT_BOARD_NO%></span>
                    <a href="/board/del/<%=board.BOARD_NO%>">DEL</a>
                    <a href="/board/edit/<%=board.BOARD_NO%>">EDIT</a>
                </div>

                <!-- 작성자 -->
                <div class="authorBox">
                    : <span>이동철</span>
                </div>

                <div class="submary">
                    <!-- 댓글수 -->
                    <div class="commentCountBox">
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                        <span class="commentCount">0</label>
                    </div>
                    <!-- 조회수 -->
                    <div class="viewCountBox">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span class="viewCount"><%=board.HIT_CNT%></label>
                    </div>
                </div>
            </div>
            <!-- 좋아요 -->
            **** 좋아요 버튼은 사용자 세션작업이 완료 될때 완벽히 구현될 예정입니다.
            <div class="likeBox">
                <!--ejs 코드로 if(!board.LIKE_FL)  CSS 코드
                    style="color: black;"를 인라인에 삽입
                    else style="color: rgb(88, 144, 255);"  -->
                <i class="fa fa-thumbs-up fa-5x" aria-hidden="true" id="like_btn"></i>
                <span class="likeCount"><%=board.LIKE_CNT%></label>
            </div>
            <!-- 제목 -->
            <div class="titleBox">
                <h3><%=board.TITLE_NM%></h3>
            </div>

            <!-- 내용 -->
            <div class="contentBox">
                <pre class="content"><%=board.CONTENT_TX%></pre>
            </div>
            <hr/>
            <div class="commentLayout">
                <div class="commentText">Comment</div>
                <div class="commentList">
                    <!-- comment for -->
                    <%comments.forEach(function(comment) {%>
                    <div id="commentView_<%=comment.BOARD_COMMENT_NO%>" class="commentView">
                        <div class="commentSummary">
                            <span class="name"><%=comment.USER_CD%></span>
                            <span class="date"><%=comment.DATE%></span>
                            <span>
                                <a href="" id="commentEdit_<%=comment.BOARD_COMMENT_NO%>"       class="commentEdit">EDIT</a>
                                <a href="" id="commentDelete_<%=comment.BOARD_COMMENT_NO%>"
                                    class="commentDelete">DEL</a>
                                <a href="/comment/<%=comment.BOARD_COMMENT_NO%>" target="_blank"
                                id="commentReply_<%=comment.BOARD_COMMENT_NO%>"
                                    class="commentReply">REPLY</a>
                            </span>
                        </div>
                        <div class="commentContent"><%=comment.COMMENT_TX%></div>
                    </div>
                    <%})
                    <!-- // comment for  -->
                    <!-- not comments  -->
                    if(comments.length == 0 ) {%>
                        <div class="none_comment">
                            댓글이 존재하지 않습니다.
                        </div>
                    <%}%>
                    <!-- //not comments  -->
                </div>

                <hr/>
                <div class="commentBox" >
                    <div class="commentBox comment">
                        <div class="commentInfo">
                            <label for="commentName">name : </label>
                            <input type="text" id="commentName" name="commentName" value=""/>
                            <label for="commentPassword">password : </label>
                            <input type="password" id="commentPassword" name="commentPassword" value=""/>
                        </div>
                        <textarea id="commentContent" class="commentContent" name="commentContent" rows="8"\></textarea>
                    </div>
                    <!-- submit button  -->
                    <div class="">
                        <input type="button" id="submit_btn" class="submit_btn" value="쓰기">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="/js/jquery/jquery-3.1.1.js"></script>
    <script type="text/javascript">
        var tempid
        $("#submit_btn").click(function() {
            var boardId = Number($(".boardNumber").text())
            var commentName = $("#commentName").val()
            var commentPswd = $("#commentPassword").val()
            var commentContent = $("#commentContent").val()
            var commentGroup = $
            // 비로그인 코멘트
            var url = "/ajax/comment/"
            //  Ajax comment
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    id: boardId,
                    name: commentName,
                    pswd: commentPswd,
                    content: commentContent
                },
                success:function(result) {
                    console.log("??");
                    location.reload()
                },
                error:function(event) {
                }
            })
            //  --Ajax comment
        })
        // Ajax like button
        $("#like_btn").click(function() {
            var boardId = Number($(".boardNumber").text())
            var url = "/ajax/like"
            // Ajax like
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    id: boardId
                },
                success:function(result) {
                    alert("좋아요 버튼을 누르셨습니다.")
                    var like_number=Number($(".likeCount").text())+1
                    $(".likeCount").text(like_number)
                },
                error:function(event) {

                }
            })
        })
        $("*[id^='submit_btn_']").click(function() {
            console.log
        })
        // -- Ajax like button

        $(".commentReply").click(function() {
            if(tempid) {
                $("#submit_btn_"+tempid).off("click", function() {
                    // action
                })
                $("#commentView_"+tempid+" > .commentBox").empty()
            }
            var commentReplyId = this.id
            var commentId = commentReplyId.split("_")[1]
            var submit_btn_number = "submit_btn_"+commentId
            $("#commentView_"+commentId).append(
                `
                <div class="commentBox">
                    <div class="commentBox comment">
                        <div class="commentInfo">
                            <label for="commentName_">name : </label>
                            <input type="text" id="commentName_${commentId}" name="commentName" value=""/>
                            <label for="commentPassword">password : </label>
                            <input type="password" id="commentPassword_${commentId}" name="commentPassword" value=""/>
                        </div>
                        <textarea id="commentContent_${commentId}" class="commentContent" name="commentContent" rows="8"\></textarea>
                    </div>
                    <div class="">
                        <input type="button" id="${submit_btn_number}" class="re_submit_btn" value="쓰기">
                    </div>
                </div>
                `
            )
            tempid = commentId;
            // $(".re_submit_btn").on("click", function() {
            //     console.log(this);
            //     var boardId = Number($(".boardNumber").text())
            //     var commentName = $("#commentName_"+commentId).val()
            //     var commentPswd = $("#commentPassword_"+commentId).val()
            //     var commentContent = $("#commentContent_"+commentId).val()
            //     var parent = $
            //     // 비로그인 코멘트
            //     var url = "/ajax/comment/"
            //     //  Ajax comment
            //     $.ajax({
            //         type: "POST",
            //         url: url,
            //         data: {
            //             id: boardId,
            //             name: commentName,
            //             pswd: commentPswd,
            //             content: commentContent
            //         },
            //         success:function(result) {
            //             console.log("??");
            //             location.reload()
            //         },
            //         error:function(event) {
            //         }
            //     })
            //     //  --Ajax comment
            // })
        })

    </script>
</body>
</html>
